* {
  box-sizing: border-box;
}

.custom-accordion {
  width: 80%;
}

.adjust-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-nav {
  display: inline-flex;
  background-color: rgba(0, 68, 255, 0.047);
  margin-bottom: 50px;
  border-radius: 7px;
}
.custom-nav button {
  margin: 10px;
}

.header-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: rgba(0, 68, 255, 0.759);
  text-decoration: underline;
}

.completed-task {
  text-decoration: line-through;
}

.uncompleted-task {
  text-decoration: none;
}

.accordion-style-very-important {
  box-shadow: 0 0 0.3em red;
  background-color: #ffcccc;
  padding: 5px;
}

.accordion-style-important {
  box-shadow: 0 0 0.3em orange;
  background-color: #ffe5cc;
  padding: 5px;
}

.accordion-style-not-important {
  box-shadow: 0 0 0.3em green;
  background-color: #ccffcc;
  padding: 5px;
}

.very-important {
  background: linear-gradient(to right, red, rgba(187, 48, 48, 0.77));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.important {
  background: linear-gradient(to right, orange, rgba(238, 135, 66, 0.845));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.not-important {
  background: linear-gradient(to right, green, rgba(34, 243, 58, 0.942));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-tooltip .tooltip-inner {
  background-color: #f8f9fa;
  color: gray;
  border: 1px solid darkgray;
}
